<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/calendar-layout}">
  <head>
    <title>schedule</title>
  </head>
  <body>
  	<div class="container">
    <!-- <div layout:fragment="contents"> -->
      <div id='calendar'></div>
      <link rel='stylesheet' href="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.css" />
      <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.5.1/main.min.js"></script>
      <script type="text/javascript">
       document.addEventListener('DOMContentLoaded', function() {
         var calendarEl = document.getElementById('calendar');
         var calendar = new FullCalendar.Calendar(calendarEl, {
           locale: 'ja',
           headerToolbar: {
        	   left: 'prev,today,next',
        	   center: 'title',
           	   right: 'dayGridMonth,listMonth'
           },
           eventTimeFormat: {
        	   hour: 'numeric',
        	   minute: '2-digit'
           },
           dayCellContent: function(e) {
           e.dayNumberText = e.dayNumberText.replace('日', '');
           }, 
           buttonText: {
        	   today: '今日',
        	   month: '今月',
        	   list: 'リスト',
           },
           //plugins: [interactionPlugin, dayGridPlugin],
           //initialView: 'dayGridMonth',
           //headerToolbar: {
               //left: "prev,next today",
               //center: "title",
               //right: "",
           //},

           // 日付をクリック、または範囲を選択したイベント
           selectable: true,
           select: function (info) {
               alert("selected " + info.startStr + " to " + info.endStr);
           },
       });
       calendar.render();
     });
     </script>  
    </div>
    <!--  </div> -->
  </body>
</html>